.current-weather{
    padding: 50px 10px 0px 10px;
}
.top{
   margin: 20px;
}
.current-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0;
    margin: 0;
}
.temp{
    margin-left: 50px;
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 0;
}
.location{
letter-spacing: 1px;
font-weight: 600px;
margin-bottom: -50px;
}
.description,.current-feel{
    margin-top: 0;
    line-height: 1;
    padding-left: 20px;
}
.description{
    font-size: 32px;
}
.current-feel{
    font-size: 18px;
}
.weather-icon{
    width: 200px;
    margin-right: 100px;
    margin-top: 50px;
}

h2{
    margin: 40px 0 0 0;
}

.general{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gen-details{
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather-icon-mini{
    width: 60px;
    margin-left: 10px;
}
.min-max,.description-today{
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1px;
}
.details{
    display: grid;
    grid-template-columns: 1fr 1fr;
}.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}