.forecast{
    padding: 0 10px 0 10px;
}
.title{
    padding-bottom: 10px;
}
.daily-item {
    background-color: #3a3535AF;
    border-radius: 15px;
    height: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 20px;
}
.icon-small{
    width: 40px;
}
.day{
    color: #d4c7c7;
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;
}
.description2{
    flex: 1 1;
    margin-right: 15px;
    text-align: right;
}
.min-max2{
    color: #8c8a8a;
}
.daily-details-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.daily-details-grid-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}