@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    background: url('../public/sunny.jpg')no-repeat;
    background-size: cover;
    min-height: 100%;
}
.container{
    position: relative;
    width: 50%;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 /30%);
    color: #fff;
    background-color: #333B;
    padding: 0 20px 20px 20px;
    min-height: 100%;
    margin: auto;
    backdrop-filter: blur(20px);
}

